<p id="notice"><%= notice %></p>

<h1>Administration Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administration_users.each do |administration_user| %>
      <tr>
        <td><%= link_to 'Show', administration_user %></td>
        <td><%= link_to 'Edit', edit_administration_user_path(administration_user) %></td>
        <td><%= link_to 'Destroy', administration_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administration User', new_administration_user_path %>
